*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body
{
    background: url(../images/background.png) no-repeat center top;
    background-position: 0 50px;
}

.navigation
{
    width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    position: sticky
}

ul.header_lists
{
    margin: 0;
    padding-left: 0px;
    list-style: none;
    clear: inherit;
}

ul.header_lists:after
{
    content: '';
    display: block;
    clear: both;
}

.header_lists li
{
    float: left;
}

ul.header_lists a
{
    display: block;
    box-sizing: border-box;
    font-size: 19px;
    line-height: 32px;
    text-decoration: none;
    padding: 10px 18px 8px 23px;
    color: #333;
    font-family: "Georgia";
}

ul.header_lists a:hover
{
    color: #f5f5f5;
    font-family: "Georgia";
    background-color: #15a98c;
}

.about_me:before
{
    content: url(../images/about_me_icon_black.png);
    margin-right: 10px;
}

.about_me:hover:before
{
    content: url(../images/about_me_icon_light.png);
    margin-right: 10px;
}

.my_hobby:before
{
    content: url(../images/hobby_icon_black.png);
    margin-right: 10px;
}

.my_hobby:hover:before
{
    content: url(../images/hobby_icon_light.png);
    margin-right: 10px;
}

.favorite_films:before
{
    content: url(../images/video_icon_black.png);
    margin-right: 10px;
}

.favorite_films:hover:before
{
    content: url(../images/video_icon_light.png);
    margin-right: 10px;
}

.site
{
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 2028px;

}

.content_top
{
    width: 1000px;
    height: 240px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.img_qoutes
{
    position: relative;
}

.img_qoutes:after
{
    content: '';
    display: block;
    clear: both;
}

img.porter
{
    border-radius: 5px;
    background-color: #132d36;
    position: absolute;
}

.quote
{
    margin-left: 330px;
    height: 190px;
    padding-left: 63px;
    padding-top: 25px;
    float: left;
}

p.quote_text
{
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Georgia";
    font-style: italic;
}

p.quote_author
{
    font-size: 16px;
    line-height: 42px;
    color: #f5f5f5;
    font-family: "Open Sans";
    font-weight: 600;
}

.content_bottom
{
    width: 1000px;
    height: 640px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
    padding-right: 20px;    
}

.lists
{
    margin-top: 156px;
    float: left;
    width: 330px;
}

h3.list_title
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: "Open Sans";
    font-weight: 600;
    letter-spacing: 1px;
}

.writers_list
{
    width: 330px;
    padding-top: 12px;
    height: 198px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
    margin-left: 20px;
}

.films_list
{
    padding-top: 11px;
    width: 330px;
    height: 260px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
    margin-left: 20px;
}

.info
{
    width: 960px;
    padding-left: 390px;
    height: 740px;
}

.me
{
    height: 314px;
}

h1
{
    margin-left: 4px;
    font-size: 51px;
    line-height: 40px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 1200;
}

p.text_me
{
    margin-top: 40px;
    width: 561px;
    height: 198px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
}

img.figure
{
    margin-top: 27px;
    width: 63px;
    height: 7px;
    border-radius: 3px;
    background-color: #45c3aa;
}

h2
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 400;
}

.hobby
{
    margin-top: 37px;
}

p.text_hobby
{
    margin-top: 15px;
    width: 562px;
    height: 201px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
}

p.communication
{
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia";
}

.slink
{
    color: #15a98b;
    text-decoration: none;
}

.slink:hover
{
    color: #098d72;
}

span.span_link
{
    border-bottom: 1px #15a98b solid;
}

.description_film
{
    margin-top: 95px;
    height: 900px;
}

span.info_film
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 400;
}

.films
{
    margin-top: 32px;
    position: relative;
}

.films:after
{
    content: '';
    display: block;
    clear: both;
}

.film_one
{
    width: 285px;
    float: left;
}

.film_two
{
    width: 285px;
    margin-left: 20px;
    float: left;
}

.film_three
{
    width: 285px;
    margin-left: 20px;
    float: left;
}

.film_four
{
    width: 285px;
    margin-left: 20px;
    float: left;
}

h2.name_film
{
    margin-top: 20px;
    font-size: 22px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 900;
}

p.description
{
    margin-top: 19px;
    height: 565px;
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia";
}

.link_films
{
    margin-left: 480px;
    text-decoration: none;
    text-align: center;
    width: 220px;
    height: 50px;
    display: block;
    font-size: 19px;
    line-height: 32px;
    border-radius: 5px;
    color: #f5f5f5;
    font-family: "Georgia";
    background-color: #15a98c;
    position: absolute;
    top: 820px;
    padding-top: 9px;
}


.link_films:hover
{
    color: #f5f5f5;
    font-family: "Georgia";
    background-color: #098d72;
}

footer
{
    height: 70px;
    font-size: 16px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
    text-align: center;
    background: #f5f5f5;
    padding: 20px;
}

.form
{
    height: 940px;
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.header
{

    position: relative;
}

h4
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: center;
}

.line_left
{
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: #C4C4C4;
    top: 18px;
    left: 124px;
}

.line_right
{
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: #C4C4C4;
    top: 18px;
    left: 622px;
}

form
{
    padding: 0 210px;
    padding-top: 70px;
}

form > label
{
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 400;
}

.input_data
{
    width: 100%;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    height: 50px;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans";   
    font-weight: 400;
    padding: 0 18px;
}

form > div
{
    padding-top: 4px;
    margin-bottom: 23px;
}

div > label
{
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 400;
}

input:hover, select:hover, textarea:hover
{
    border-color: #a6a6a6;
}

input:focus, select:focus, textarea:focus
{
    box-shadow: none;
    border-color: #15a98c;
    outline: 0;
    outline-offset: 0;
}

input#men
{
    margin-right: 9px;
    cursor: pointer;
}

input#woman
{
    margin-right: 9px;
    margin-left: 35px;
    cursor: pointer;
}

.gender
{
    cursor: pointer;
}

textarea
{
    width: 100%;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    height: 150px;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans";   
    font-weight: 400;
    padding: 0 18px;
}

.country select
{
    width: 540px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    height: 50px;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-family: "Open Sans";
    font-weight: 400;
    padding-left: 13px; 
    background: transparent;
    -webkit-appearance: none;
}

.country
{
    margin-bottom: 42px;
    background: url(../images/arrow_down.png/) no-repeat;
    background-position: 500px 23px;
}

.radio
{
    margin-bottom: 35px;
}

select
{
    cursor: pointer;
}

.submit
{
    margin-top: 47px;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    display: block;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
    background-color: #15a98c;
}

.submit:hover
{
    background-color: #098d72;
}

.red
{
    color: #ee0707;
}

button
{
    cursor: pointer;
}