*
{
	margin: 0;
	padding: 0;
}

.site
{
	height: 1271px;
	margin-top: 80px;
	margin-left: 363px;
	margin-right: 363px;
	padding-left: 21px;
	padding-right: 16px;

}

.top
{
	width: 756.2px;
	height: 280px;
}

.photo
{
	float: left;
	width: 264px;
	height: 280px;
}

img.porter
{
	width: 264px;
	height: 280px;
}

.thesis
{
	float: right;
	margin-left: 48px;
	width: 444px;
	height: 280px;
}

.commas
{
	margin-top: 40px;
	height: 63px;
}

img.quotes
{
	margin-top: 41px;
	width: 104px;
	height: 69.5px;
	position: absolute;
}

.quotation
{
	margin-top: 96px;
	position: relative;
	height: 180px;
	margin-left: 46px;
	width: 398px;
}

.quote
{
	width: 398px;
	font-size: 22px;
	line-height: 33px;
	color: #848484;
	font-family: "Georgia";
	font-style: italic;
}

.auther
{
	font-size: 13px;
	line-height: 33px;
	color: #333333;
	font-family: "Open Sans";
	font-weight: 600;
}

.bottom
{
	margin-top: 35px;
	height: 871px;
}

.lists
{
	float: left;
	width: 261px;
	height: 871px;
}

h3.list_title
{
	font-size: 20px;
	color: #15a98c;
	font-family: "Open Sans";
	font-weight: 600;
}

ul
{
	margin-left: 18px;
	margin-top: 10.5px;
	font-size: 15px;
	line-height: 29px;
	color: #555555;
	font-family: "Georgia";
}

.list_bottom
{
	margin-top: 30px;
}

ol
{
	margin-left: 15px;
	margin-top: 10.5px;
	font-size: 15px;
	line-height: 29px;
	color: #555555;
	font-family: "Georgia";
}

.info
{
	float: right;
	width: 444px;
	margin-left: 47.47px;
	height: 871px;
}

h1.name
{
	font-size: 35px;
	line-height: 36px;
	margin-left: 5px;
	color: #333333;
	font-family: "Open Sans";
	font-weight: 1000;
}

img.figure
{
	margin-top: 23px;
	width: 48px;
	height: 5px;
	border-radius: 3px;
	background-color: #45c3aa;
}

p.text_me
{
	margin-top: 31px;
	width: 400px;
	height: 150px;
	font-size: 15px;
	line-height: 26px;
	color: #555555;
	font-family: "Georgia";
}

h2.hobby_name
{
	margin-top: 33.5px;
	font-size: 30px;
	line-height: 42px;
	color: #333333;
	font-family: "Open Sans";
	font-weight: 400;
}

p.text_hobby
{
	margin-top: 9px;
	width: 444px;
	height: 160px;
	font-size: 15px;
	line-height: 26px;
	color: #555555;
	font-family: "Georgia";
}

.communication
{
	width: 444px;
	height: 263px;
	font-size: 15px;
	line-height: 26px;
	color: #15a98b;
	font-family: "Georgia";
}

.slink
{
	color: #15a98b;
	text-decoration: none;
}

span.span_link
{
	border-bottom: 1px #15a98b solid;
}

.films
{
	margin-top: 40px;
}

.film_one
{
	width: 285px;
	margin-left: 20px;
}